*{
    margin: 0;
    padding: 0;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    padding: 1em;
    color: #205375;
}

li{
    display: inline
}

#a1,#a2,#a3{
    padding: 1em;
    text-decoration:none;
    font-weight: bold;
    color: #F66B0E;
}

.subtitle{
    padding: 2em 2em 0em;
    color: #205375;
}

#pr1,#pr2,#pr3,#pr4{
    padding: 2em 2em 0em;
}