*{
    margin: 0;
    padding: 0;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    padding: 1em;
    color: #205375;
}

li{
    display: inline
}

#a1,#a2,#a3{
    padding: 1em;
    text-decoration:none;
    font-weight: bold;
    color: #F66B0E;
}

.subtitle{
    padding: 2em 2em 0.3em;
    color: #205375;
}

.maintext a {
    padding: 0em;
    text-decoration: underline;
    color: #000000;
}

.subtitle-2{
    padding: 2em 2em 0.3em;
    color: #205375;
}

#p1, #p2, #p3, #p4{
    display:list-item;
    list-style-position:inside;
    color: #F66B0E;
    font-weight: bold;
}